OGVC
train_data
data
vector
dbg_documents
evaluate_japanese_w2v
.vscode/*.json
sample_code
semi_cca_cpy.py
semi_cca.py
model_loss.png
history.csv
train_log
models
test.py
predict_log
conf_mat
modules/__pycache__/*
__pycache__/main.cpython-38.pyc
__pycache__/model.cpython-38.pyc
__pycache__/semi_supervised_learning.cpython-38.pyc
__pycache__/supervised_learning.cpython-38.pyc
